{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-8">
        <div class="card mt-5">
            <div class="card-header text-center">
                <h1>{{ title }}</h1>
            </div>
            <div class="card-body">
                <p class="card-text">Welcome to our application. You can interact with our AI Chatbot by navigating to the chat page. Enjoy your stay!</p>
                <a href="{% url 'chat_view' %}" class="btn btn-primary">Go to Chat</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
